#hacc-root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #f0fdf4;
  padding: 16px;
  margin: 16px 0 32px 0;
  border-radius: 8px;
}

#hacc-root .grid-container {
  display:grid;
  grid-auto-flow: column;
  column-gap: 8px;
  justify-items: stretch;
  grid-template-columns: repeat(2, 1fr); 
  margin-bottom:8px;
}

#hacc-root .grid-container .grid-item {
  background-color: #f5f5f5;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Consolas,Liberation Mono,Menlo,monospace;
  min-height: 256px;
  max-height: 256px;
  overflow-y:scroll;
}

#hacc-root .query-actions {
  display:flex;
  gap: 8px;
}

/** style the result table */
#hacc-root .result-table {
  /* Allows horizontal scrolling if content exceeds container width */
  overflow-x: auto;

  overflow-y:scroll;
  max-height:480px;
}
#hacc-root .result-table table {
  width: auto; 
  table-layout: auto;
  white-space: nowrap;
  border-collapse: collapse;
}

#hacc-root .result-table table thead th { 
  position: sticky;
  top:0;
  background-color: #f5f5f5;
  z-index: 1;
  border: 1px solid #ddd;
}